In [15]:
# Question 1: Create a list of first 10 square numbers
num=[i ** 2 for i in range(1,11)]
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_sum = sum(num for num in numbers if num % 2 == 0)

print(even_sum)

30

In [18]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
n=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = list(set(numbers))
print(unique_numbers)

TypeError: 'list' object is not callable

In [19]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
num=[15, 23, 31, 42, 56, 78, 91]
avg=(15+23+31+42+56+78+91)/2
print(avg)

168.0

In [20]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibo = [0,1]

for i in range(2,15):
    num = fibo[-1] + fibo[-2]
    fibo.append(num)
fibo

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [21]:
#Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
a=[45, 67, 23, 89, 12, 34, 78]
res=sorted(a, reverse=True)
res=a[1]
res

67

In [22]:
#Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res=sorted(a,reverse=True)
res

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)

[90, 64, 34, 25, 22, 12, 11]

In [24]:
# Question 10: Create a list of prime numbers between 1 and 50
primes = []
for num in range(1,51):
    for i in range(2,num):
        if num%i==0:
            break
else:
    primes.append(num)
print(primes)

[50]

In [25]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list=[]
for sublist in list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = [num for num in list1 if num in list2]

print(common_elements)

[4, 5]

In [27]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
my_list=[[1, 2], [3, 4], [5, 6]]
print(my_list)

[[1, 2], [3, 4], [5, 6]]

In [28]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = []

for sublist in nested_list:
    total = 0                   
    for item in sublist:       
        total += item          
    result.append(total)       # store the sum in a list

print(result)

[6, 15, 24]

In [29]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
list=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
result=[]
for sublist in list:
    result.append(max(sublist))
print(result)

[5, 9, 8]

In [30]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
my_list = list([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print(my_list)

TypeError: 'list' object is not callable

In [31]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
arr = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total = 0

for block in arr:        
    for sub in block:     
        for num in sub:  
            total += num

print(total)

36

In [32]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose=[]
for i in range(3):
    row=[]

    for j in range(3):
        row.append(matrix[j][i])
    transpose.append(row)
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [33]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
evens = []

for sublist in nested_list:
    for num in sublist:
        if num % 2 == 0:      
            evens.append(num)

print(evens)

[2, 4, 6, 8]

In [34]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mixed_list=[1, "hello", 3.14, True, [1, 2, 3]]
print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [35]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
a=["apple", "banana", "cherry", "date"]
length=[]
for i in a:
    length.append(len(i))
print(length)

[5, 6, 6, 4]

In [36]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
my_list = list([(1, 'a'), (2, 'b'), (3, 'c')])
print(my_list)

TypeError: 'list' object is not callable

In [37]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
data= [(1, 'a'), (2, 'b'), (3, 'c')]
first_element=[]
for i in data:
    first_element.append(i[0])
print(first_element)

[1, 2, 3]

In [38]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
my_dict=([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])
print(my_dict)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [39]:
# Question 25: Extract all 'name' values from list of dictionaries
my_dict=([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])
names=[]
for person in my_dict:
    names.append(person['name'])
print(names)

['Alice', 'Bob']

In [40]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
a = list([
    list([
        list([list([1, 2]), list([3, 4])]),
        list([list([5, 6]), list([7, 8])])
    ]),
    list([
        list([list([9, 10]), list([11, 12])]),
        list([list([13, 14]), list([15, 16])])
    ])
])

print(a)

TypeError: 'list' object is not callable

In [41]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
a = list([
    set([1, 2, 3]),
    set([4, 5, 6]),
    set([7, 8, 9])
])

print(a)

TypeError: 'list' object is not callable

In [42]:
# Question 30: Find the union of all sets in list of sets
result = set()          
for s in a:
    result = result.union(s)

print(result)

{'b', 'n', 'c', 'l', 'd', 't', 'y', 'r', 'e', 'a', 'p', 'h'}

In [43]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
a = [1+2j, 3+4j, 5+6j]
print(a)

[(1+2j), (3+4j), (5+6j)]

In [44]:
# Question 32: Find the magnitude of each complex number in list
nums = [1+2j, 3+4j, 5+6j]

magnitudes = [abs(z) for z in nums]

print(magnitudes)

[2.23606797749979, 5.0, 7.810249675906654]

In [45]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
nested_list = [1, [2, 3], [4, [5, 6]], 7]
print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

In [46]:
#Question 35: Create a list of functions: [len, str, int, float]
 list=[len,str,int,float]
print(list)

IndentationError: unexpected indent (3450357680.py, line 2)

In [47]:

# Question 36: Apply each function in list to string "123"
func = [len, str, int, float]
s = "123"

result = [f(s) for f in func]
print(result)

[3, '123', 123, 123.0]

In [48]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
funcs =  [lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1]
print(funcs)

[<function <lambda> at 0x000002B218D22C00>, <function <lambda> at 0x000002B218D228E0>, <function <lambda> at 0x000002B218D23100>]

In [49]:
# Question 38: Apply each lambda function to 5
result = [f(5) for f in funcs]    #x=5
print(result)

[10, 25, 6]

In [50]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
classes=[list,dict,set,tuple]
print(classes)

[[[1, 5, 3], [9, 2, 7], [4, 8, 6]], <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [51]:
# Question 40: Create instances of each class in list
word=[list,set,dict,tuple]
inst=[cls()for cls in word]
print(inst)

TypeError: 'list' object is not callable

In [52]:
# Question 41: Create a list of None values: [None, None, None, None]
none_list = [None] * 4
print(none_list)

[None, None, None, None]

In [53]:
# Question 42: Replace all None values with 0 in list
none_list=[None,None,None,None]
res = [0 if x is None else x for x in none_list]
print(res)

[0, 0, 0, 0]

In [54]:
# Question 43: Create a list of boolean values: [True, False, True, False]
val=[True, False, True, False]
print(val)

[True, False, True, False]

In [55]:
# Question 44: Count True values in boolean list
val=[True, False, True, False]
count_true = sum(val)
print(count_true)

2

In [56]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
res=[range(3),range(5),range(2)]
print(res)

[range(0, 3), range(0, 5), range(0, 2)]

In [63]:
# Question 46: Convert each range to list
ranges = [range(1, 4), range(4, 7), range(7, 10)]
lists = [list(r) for r in ranges]
print(lists)
flattened_list = [num for r in ranges for num in r]
print(flattened_list)

TypeError: 'list' object is not callable

In [58]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
iters = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iters)

[<list_iterator object at 0x000002B2187DE920>, <list_iterator object at 0x000002B2187DE8C0>]

In [60]:
# Question 50: Extract all elements from each iterator
iterator1 = iter([1, 2, 3])
iterator2 = iter(['a', 'b', 'c'])
elements1 = list(iterator1)
elements2 = list(iterator2)

print(elements1)
print(elements2)

TypeError: 'list' object is not callable

In [61]:
iterators = [iter([1, 2]), iter([3, 4]), iter([5, 6])]

all_extracted = [list(it) for it in iterators]
print(all_extracted)

TypeError: 'list' object is not callable